.switchWrap{
display:flex;
gap:12px;
margin-bottom:20px;
flex-wrap:wrap;
}

.switchBtn{
flex:1;
height:60px;
border:none;
outline:none;
cursor:pointer;

border-radius:18px;

background:
linear-gradient(
135deg,
rgba(8,15,40,.92),
rgba(15,23,55,.92)
);

border:1px solid rgba(255,255,255,.08);

color:white;
font-size:16px;
font-weight:700;

transition:.3s;
}

.switchBtn.active{
background:
linear-gradient(
135deg,
#2563eb,
#7c3aed
);

box-shadow:
0 0 25px rgba(124,58,237,.35);
}

.updateBox{
margin-bottom:22px;

padding:18px;

border-radius:22px;

background:
linear-gradient(
135deg,
rgba(8,15,40,.92),
rgba(15,23,55,.92)
);

border:1px solid rgba(255,255,255,.08);
}

.updateTitle{
font-size:15px;
font-weight:700;
color:#facc15;
margin-bottom:8px;
}

.updateTime{
font-size:18px;
font-weight:700;
color:#dbeafe;
}

@media(max-width:768px){

.switchBtn{
font-size:14px;
height:54px;
}

.updateTime{
font-size:15px;
}

}